#@ load("@ytt:data", "data")
#@ load("@ytt:overlay", "overlay")

#@ if data.values.letsencrypt.challenge.secret.name != "":
---
apiVersion: secretgen.carvel.dev/v1alpha1
kind: SecretExport
metadata:
  name: #@ data.values.letsencrypt.challenge.secret.name
  namespace: #@ data.values.letsencrypt.challenge.secret.namespace
spec:
  toNamespaces:
    - cert-manager

---
apiVersion: secretgen.carvel.dev/v1alpha1
kind: SecretImport
metadata:
  name: #@ data.values.letsencrypt.challenge.secret.name
  namespace: cert-manager
spec:
  fromNamespace: #@ data.values.letsencrypt.challenge.secret.namespace
#@ end
