#@ load("@ytt:data","data")

#@ def get_solvers():
#@ if/end data.values.letsencrypt.challenge.type == "http01":
- http01:
    ingress:
      ingressClassName: contour
#@ if/end data.values.letsencrypt.challenge.type == "dns01":
- dns01:
    #@ if/end data.values.letsencrypt.challenge.dns_provider == "digital_ocean":
    digitalocean:
      tokenSecretRef:
        name: #@ data.values.letsencrypt.challenge.secret.name
        key: #@ data.values.letsencrypt.challenge.secret.key
    #@ if/end data.values.letsencrypt.challenge.dns_provider == "cloudflare":
    cloudflare:
      apiTokenSecretRef:
        name: #@ data.values.letsencrypt.challenge.secret.name
        key: #@ data.values.letsencrypt.challenge.secret.key
    #@ if/end data.values.letsencrypt.challenge.dns_provider == "hetzner":
    webhook:
      solverName: hetzner
      groupName: acme.hetzner.kadras.io
      config:
        tokenSecretKeyRef:
          name: #@ data.values.letsencrypt.challenge.secret.name
          key: #@ data.values.letsencrypt.challenge.secret.key
#@ end

#@ if/end data.values.letsencrypt.include and not data.values.letsencrypt.production:
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging-issuer
spec:
  acme:
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    email: #@ data.values.letsencrypt.email
    privateKeySecretRef:
      name: letsencrypt-staging
    solvers: #@ get_solvers()

#@ if/end data.values.letsencrypt.include and data.values.letsencrypt.production:
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod-issuer
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: #@ data.values.letsencrypt.email
    privateKeySecretRef:
      name: letsencrypt-prod
    solvers: #@ get_solvers()
